
<table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="cep">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
            CEP
        </th>
        <td mat-cell *matCellDef="let element"> {{element.cep}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="logradouro">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
            Logradouro
        </th>
        <td mat-cell *matCellDef="let element"> {{element.logradouro}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="cidade">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
            Cidade
        </th>
        <td mat-cell *matCellDef="let element"> {{element.cidade}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="bairro">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
            Bairro
        </th>
        <td mat-cell *matCellDef="let element"> {{element.bairro}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="uf">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
            Uf
        </th>
        <td mat-cell *matCellDef="let element"> {{element.uf}} </td>
    </ng-container>


    <!-- Symbol Column -->
    <ng-container matColumnDef="complemento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
            Complemento
        </th>
        <td mat-cell *matCellDef="let element"> {{element.complemento}} </td>
    </ng-container>


    <!-- Symbol Column -->
    <ng-container matColumnDef="dataHoraConsulta">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
            dataHoraConsulta
        </th>
        <td mat-cell *matCellDef="let element"> {{element.dataHoraConsulta}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>